

<title>Update Agent Info</title>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<div style="height:1000px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
　　<div style="margin-left: 45px;">
    　　<h1>Update agent information</h1>
        <h2>Agent information</h2>
　　　　<form action="#" role="form" method="post">
            <h4>Agent id</h4>
            <p id="agent_id"><%= agent_id %></p>
            <h4>Firstname</h4>
            <input type="text" id="firstname" name="firstname" value="<%= agent.firstname %>"/>
            <h4>Lastname</h4>
            <input type="text" id="lastname" name="lastname" value="<%= agent.lastname %>"/>
            <h4>Email Address</h4>
            <input type="text" id="email" name="email" onkeyup="" value="<%= agent.email %>"/>
            <h4>Languages</h4>
            <p>
                <input type="checkbox" id="chinese" checked = "false">
                <label for="chinese">Chinese</label>
            </p>
            <p>
                <input type="checkbox" id="english" <%= agent.english %>>
                <label for="english">English</label>
            </p>
            <p>
                <input type="checkbox" id="malay">
                <label for="malay">Malay</label>
            </p>
            <h4>Skills</h4>
            <p>
                <input type="checkbox" id="skill1">
                <label for="skill1">Insurance</label>
            </p>
            <p>
                <input type="checkbox" id="skill2">
                <label for="skill2">Fraud</label>
            </p>
            <p>
                <input type="checkbox" id="skill3">
                <label for="skill3">Bank Statement</label>
            </p>
            <div style="margin-top:30px;margin-left:125px;">
    　　　　　　　<input type="button" onclick="edit_agent();" value="Save">
                <input type="button" onclick="location.href='/view_agents';" value='Back' /> 
　　　　　　</div>
        </form>
　　</div>
</div>

<script> function edit_agent(){
    console.log("editing agent");
    var agent_id = $('#agent_id').text();
    console.log("agent id is " + agent_id);
    var firstname = $('#firstname').val();
    var lastname = $('#lastname').val();
    var email = $('#email').val();
    var chinese = 0;
    var english = 0;
    var malay = 0;
    var skill1 = 0;
    var skill2 = 0;
    var skill3 = 0;

    if (firstname == "" || lastname == ""){
        console.log("empty name");
        alert("Please enter your name");
        return;
    }

    var email_pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/
    if(email_pattern.test(email) != true){
        console.log("invalid email");
        alert("Please enter a valid email");
        return;
    }
    if($("#chinese").is(':checked')){
        chinese = 1;
    }
    if($("#english").is(':checked')){
        english = 1;
    }
    if($("#malay").is(':checked')){
        malay = 1;
    }
    if($("#skill1").is(':checked')){
        skill1 = 1;
    }
    if($("#skill2").is(':checked')){
        skill2 = 1;
    }
    if($("#skill3").is(':checked')){
        skill3 = 1;
    }

    var data = {"firstname": firstname, 
                "lastname": lastname, 
                "email": email,
                "chinese": chinese,
                "english": english,
                "malay": malay,
                "skill1": skill1,
                "skill2": skill2,
                "skill3": skill3
            };
    $.ajax({
        url:'/edit_agent/'+ agent_id,
        type:'POST',
        data:data,
        success:function(data,status){
            if(status == 'success'){
                alert("Updated agent information successfully!")
                location.href='/view_agents';
            }
        },
        error:function(data,status,e){
            if(status == "error"){
                alert("Updating agent information fail, please try again");
                }
            }
        });
    }
</script>
 