<title>User Login</title>

...

<!-- 
<h1>User Login</h1>
<div style="height:300px;width:350px;margin:100px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
　　<div style="width:200px;margin:auto;margin-top:50px;">
　　　　<h1>All Agents</h1>
            <table id = agent_table> 
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Chinese</th>
                        <th>English</th>
                        <th>Malay</th>
                        <th>Insurance</th>
                        <th>Fraud</th>
                        <th>Bank Statement</th>
                    </tr>
                </thead>
                <tbody>
                    <% agents.forEach(function(agent) { %>
                        <tr>
                            <th><%= agent.firstname %> <%= agent.lastname %></th>
                            <th><%= agent.email %></th>
                            <th><%= agent.chinese %></th>
                            <th><%= agent.english %></th>
                            <th><%= agent.malay %></th>
                            <th><%= agent.insurance %></th>
                            <th><%= agent.fraud %></th>
                            <th><%= agent["bank statement"] %></th>
                            <th><a id="a-link" href=home %>'">Home</a></th>
                            
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <input type="button", id="mybutton", onclick="update();"value="view all"> 
　　</div>
</div>

 -->


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/favicon.ico">
    <title>签到</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <script src="/public/javascripts/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
            background-color: #eee;
        }
    </style>
</head>

<body>
<!-- 
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">你好:</span>
            <a class="navbar-brand" href="/" id="name" title="返回到首页">{{name}}</a>
            <span style="display: none" id="sno">{{sno}}</span>
            <span style="display: none" id="signinid">{{signinid}}</span>
            <div class="navbar-form navbar-right">
                {% if !signstate %}
                <button class="btn btn-success" id="signin">签到</button>
                <button class="btn btn-danger disabled">签退</button>
                {% else%}
                <button class="btn btn-success disabled" >签到</button>
                <button class="btn btn-danger" id="signout">签退</button>
                {% endif %}
                <button class="btn btn-danger" id="logout" style="margin-left: 25px">退出登录</button>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="输入姓名，搜索签到记录" style="width:180px" class="form-control" id="searchname">
                </div>
                <button class="btn btn-success" id="search">搜索</button>
            </div>

        </div>
    </div>
</nav> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container" >
        
        <h1>All Agents</h1>
            <table id = agent_table> 
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Chinese</th>
                        <th>English</th>
                        <th>Malay</th>
                        <th>Insurance</th>
                        <th>Fraud</th>
                        <th>Bank Statement</th>
                    </tr>
                </thead>
                <tbody>
                    <% agents.forEach(function(agent) { %>
                        <tr>
                            <th><%= agent.firstname %> <%= agent.lastname %></th>
                            <th><%= agent.email %></th>
                            <th><%= agent.chinese %></th>
                            <th><%= agent.english %></th>
                            <th><%= agent.malay %></th>
                            <th><%= agent.insurance %></th>
                            <th><%= agent.fraud %></th>
                            <th><%= agent["bank statement"] %></th>
                            <th><a id="a-link" href=home %>'">Home</a></th>
                            
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <input type="button", id="mybutton", onclick="update();"value="view all"> 
    </div>
</div>
</body>
</html>
