<title>Add Agent</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/formpage.css">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<div class="form-style-5">
    <form>
    <fieldset>
    <legend><span class="number">1</span> Agent Info</legend>
    <input type="text" id="firstname" name="firstname" placeholder="Firstname *">
    <input type="text" id="lastname" name="lastname" placeholder="Lastname *">
    <input type="text" id="email" name="email" placeholder="Email *">
    <label >Password: 8-64 length, should have lower and uppercase, number and special character</label>
    <input type="password" id="password" name="password" placeholder="Password *">
    <label >Confirm Passpord</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password *">
    </fieldset>

    <fieldset>
    <legend><span class="number">2</span> Languages and Skilles</legend>
    <label for="job">Languages</label>
    <p>
        <input type="checkbox" id="chinese">
        <span for="chinese">Chinese</span>
    </p>
    <p>
        <input type="checkbox" id="english">
        <span for="english">English</span>
    </p>
    <p>
        <input type="checkbox" id="malay">
        <span for="malay">Malay</span>
    </p>
    <label for="job">Skills:</label>
    <p>
        <input type="checkbox" id="skill1">
        <span for="skill1">Insurance</span>
    </p>
    <p>
        <input type="checkbox" id="skill2">
        <span for="skill2">Fraud</span>
    </p>
    <p>
        <input type="checkbox" id="skill3">
        <span for="skill3">Bank Statement</span>
    </p>
    </fieldset>
        <input id="add" type="button" onclick="add_agent();" value="Add">
        <input id="back" type="button" onclick="location.href='/home';" value="Go Back to Home" /> 
    </form>
</div>

<script> function add_agent(){
    console.log("adding agent");
    var firstname = $('#firstname').val();
    var lastname = $('#lastname').val();
    var email = $('#email').val();
    var password = $('#password').val();
    var confirm_password = $('#confirm_password').val();
    var chinese = 0;
    var english = 0;
    var malay = 0;
    var skill1 = 0;
    var skill2 = 0;
    var skill3 = 0;

    var name_pattern = /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/
    if (name_pattern.test(firstname) != true|| name_pattern.test(lastname) != true){
        console.log("empty name");
        alert("Please enter a valid name");
        return;
    }

    var email_pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/
    if(email_pattern.test(email) != true){
        console.log("invalid email");
        alert("Please enter a valid email");
        return;
    }

    var password_pattern = /^.*(?=.{8,64})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?_ ]).*$/;
    if(password_pattern.test(password) != true){
        alert("Please enter a valid password");
        return;
    }

    if(password != confirm_password){
        alert("Password and confirm password are different, please check again");
        return;
    }


    if($("#chinese").is(':checked')){
        chinese = 1;
    }
    if($("#english").is(':checked')){
        english = 1;
    }
    if($("#malay").is(':checked')){
        malay = 1;
    }
    if($("#skill1").is(':checked')){
        skill1 = 1;
    }
    if($("#skill2").is(':checked')){
        skill2 = 1;
    }
    if($("#skill3").is(':checked')){
        skill3 = 1;
    }

    if((skill1 == 0 && skill2 == 0 && skill3 == 0) || (chinese == 0 && english == 0 && malay == 0)){
        alert("Please choose at least one language and one skill");
        return;
    }

    var data = {"firstname": firstname, 
                "lastname": lastname, 
                "password":password, 
                "email": email,
                "chinese": chinese,
                "english": english,
                "malay": malay,
                "skill1": skill1,
                "skill2": skill2,
                "skill3": skill3
            };
    $.ajax({
        url:'add_agent',
        type:'POST',
        data:data,
        success:function(data,status){
            if(status == 'success'){
                alert("Agent added successfully!")
                location.href='home';
            }
        },
        error:function(data,status,e){
            if(status == "error"){
                alert("Adding agent failed, the email might be already registered, please try again.");
                }
            }
        });
    }
</script>