<title>All Agents</title>

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<div style="margin:auto;">
    <div class="container" style="margin:auto;">
        <h1 style="margin:20px auto;">All Agents</h1>
        <table id = table-7 style="margin:auto;"> 
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Chinese</th>
                    <th>English</th>
                    <th>Malay</th>
                    <th>Insurance</th>
                    <th>Fraud</th>
                    <th>Bank Statement</th>
                    <th>Update Agent</th>
                    <th>Remove Agent</th>
                </tr>
            </thead>
            <tbody>
                <% agents.forEach(function(agent) { %>
                    <tr>
                        <th><%= agent.firstname %> <%= agent.lastname %></th>
                        <th><%= agent.email %></th>
                        <th><%= agent.chinese %></th>
                        <th><%= agent.english %></th>
                        <th><%= agent.malay %></th>
                        <th><%= agent.insurance %></th>
                        <th><%= agent.fraud %></th>
                        <th><%= agent.bank_statement %></th>
                        <th><input type="button" name="edit" onclick="location.href='/edit_agent/'+ '<%= agent.agent_id %>';" value="Edit" /> </th>
                        <th><input type="button", name="delete" id="delete_agent/<%= agent.agent_id %>", onclick="remove(this.id);"value="Remove"></th>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div style="margin: 20px auto">
            <input id="back" type="button" onclick="location.href='/home';" value="Back to Home" />
        </div>
    </div>
</div>
</body>
</html>
<script> function remove(delete_url){
    if (confirm("Are you sure you wan to delete the agent from the system?")) {
        console.log("removing agent");
    } else {
        return;
    }
    $.ajax({
        url:delete_url,
        type:'POST',
        success:function(data,status){
            if(status == 'success'){
                alert("Deleted agent successfully!")
                location.reload();
            }
        },
        error:function(data,status,e){
            if(status == "error"){
                alert("Deleting agent failed, please try again.")
                location.href='/view_agents';
                }
            }
        });
    }
</script>
 